<% content_for :title, 'About Up at Five' %>
<% content_for :meta_description, 'we like the internet.' %>
<div class="hidden" id="aboutUs">
	<div class="about-header">
		<div class="container">
			<h3>About Us</h3>
			<p class="attn">we like the internet.</p>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-half profile">
				<%= image_tag "trudy2.jpg", :class => 'profile-pic' %>
				<h4>Trudy MacNabb</h4>
				<p>Trudy is a passionate back-end developer. She is an active member of the development community. When she is not busy learning she enjoys teaching others as a lead mentor at <a href="http://hackeryou.com/" target="_blank">Hacker You</a> and instructor with <a href="http://ladieslearningcode.com/" target="_blank">Ladies Learning Code</a>. Trudy has also set out to share her passion for Ruby on Rails as one of the organizers of <a href="http://railsgirlsto.com/" target="_blank">Rails Girls Toronto</a>. When she is not building the internet she is exploring her interest in dance parties, tomatoes, and public transportation.</p>
			</div>
			<div class="col-half profile">
				<%= image_tag "jordan.png", :class => 'profile-pic' %>
				<h4>Jordan Deutsch</h4>
				<p>Jordan is a front-end developer and internet admirer. As a recent transplant to Toronto she has enjoyed immersing herself in the burgeoning tech community. When she is not behind a computer screen she loves to share her enthusiasm for programming with others as a lead instructor for <a href="http://ladieslearningcode.com/" target="_blank">Ladies Learning Code</a> and <a href="http://hackeryou.com/" target="_blank">Hacker You</a> and mentor at <a href="http://nodeschool.io/toronto/" target="_blank">Node School Toronto</a>. She moonlights as a coffee enthusiast, amateur commuter biker, and yoga student.</p>
			</div>
		</div>
	</div>
	<div class="quote">
		<div class="container">
			<p>Up at Five. Second coffee at noon. In bed by nine.</p>
		</div>
	</div>
	<%= render template: 'contact/contact'%>
</div>
<script>
	$(document).on('ready page:load',function(){
	    $('#aboutUs').fadeIn(1000);
	});
</script>
