<div class="hidden" id="aboutUs">
	<div class="about-header">
		<div class="container">
			<h3>Us.</h3>
			<p class="attn">a tagline about all the us we are</p>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-half">
				<%= image_tag "trudy.png", :class => 'profile-pic' %>
				<h4>Trudy MacNabb</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt recusandae beatae eius vel delectus accusamus iusto, quod quia dolorum expedita optio minus iste veritatis. Eius quibusdam commodi, error quisquam blanditiis!</p>
			</div>
			<div class="col-half">
				<%= image_tag "jordan.png", :class => 'profile-pic' %>
				<h4>Jordan Deutsch</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt recusandae beatae eius vel delectus accusamus iusto, quod quia dolorum expedita optio minus iste veritatis. Eius quibusdam commodi, error quisquam blanditiis!</p>
			</div>
		</div>
	</div>
	<div class="quote">
		<div class="container">
			<p>A quote about some stuff that we do or not who knows thought it could use something not white... maybe a picture of the city? or bagels?</p>
		</div>
	</div>
	<%= render template: 'contact/contact'%>
</div>
<script>
	$(document).on('ready page:load',function(){
	    $('#aboutUs').fadeIn(1000);
	});
</script>
