<div class="hidden" id="aboutUs">
	<div class="about-header">
		<div class="container">
			<h3>About Us</h3>
			<p class="attn">we like the internet.</p>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-half profile">
				<%= image_tag "trudy.png", :class => 'profile-pic' %>
				<h4>Trudy MacNabb</h4>
				<p>Trudy is a passionate back-end developer. When she is not building the internet she is exploring her interest in dance parties, tomatoes, and public transportation.</p>
			</div>
			<div class="col-half profile">
				<%= image_tag "jordan.png", :class => 'profile-pic' %>
				<h4>Jordan Deutsch</h4>
				<p>Jordan is a front-end developer and internet admirer. She moonlights as a coffee enthusiast, amateur commuter biker, and yoga student.</p>
			</div>
		</div>
	</div>
	<div class="quote">
		<div class="container">
			<p>Up at Five. Second coffee at noon. In bed by nine.</p>
		</div>
	</div>
	<%= render template: 'contact/contact'%>
</div>
<script>
	$(document).on('ready page:load',function(){
	    $('#aboutUs').fadeIn(1000);
	});
</script>
