<% content_for :title, 'Up at Five Blog' %>
<% content_for :meta_description, 'we like the internet.' %>

<div class="hidden" id="blogPage">
	<div class="about-header">
		<div class="container">
			<h3>On The Blog</h3>
			<p class="attn">Tips, Tutorials, and something else that starts with T.</p>
		</div>
	</div>
	<div class="container">
		<div class="row">
			
			<div class="col--half">
				<h4>Code Shopify</h2>
				<a href="http://www.codeshopify.com/" class="attn" target="_blank">codeshopify.com</a>
				<p>Shopify App and Theme Development tutorials for those who are farmiliar with code and want to dive into Shopify.</p>
			</div>
			<div class="col--half">
				<h4>Up at Five on Medium</h2>
				<a href="https://medium.com/up-at-five" class="attn" target="_blank">medium.com/up-at-five</a>
				<p>A series of tutorials focused on rails application development.</p>
			</div>
		</div>
	</div>
	<%= render template: 'contact/contact'%>
</div>
<script>
	$(document).on('ready page:load',function(){
	    $('#blogPage').fadeIn(1000);
	});
</script>