
<div id="home" class="hidden">
	<header class="home__header">
		<div class="container header__title">
			<h2>Up at Five</h2>
			<h3 class="hidden sub-title-01">A digital studio focused on data-driven applications</h3>
		</div>
	</header>

	<div id="whatWeDo" class="home__what-we-do home__content-block">
		<div class="container">
			<h3>What We Do</h3>
			<div class="row">
				<div class="col-half home__web">
					<p class= "attn">A digital studio focused on data-driven applications.</p>
				</div>
				<div class="col-half home__app">
					<p class="contain">We build accessible web applications that provide solutions to real problems. Our projects are data driven, emphasizing the content, with a focus on user experience.</p>
				</div>
			</div>	
		</div>
	</div>
	
<% if @portfolio_pieces.present? %>
	<div class="our-work">
	<div class="hover active"></div>
	<div class="hover off"></div>
	<%= link_to 'Featured Work', portfolio_pieces_path, class: 'container title' %>
	<% @portfolio_pieces.each do |portfolio_piece| %>
        <%= link_to portfolio_piece_path(portfolio_piece), :data => {:featured => portfolio_piece.feature_image.url }, class: 'container featured' do %> 
                <h4><%= portfolio_piece.title %></h4>
        <% end %>
	<% end %>
	</div>
<% end %>
	<%= render template: 'contact/contact'%>
</div>	


<script>
    $(document).on('ready page:load',function(){
        $('#home').fadeIn(1000, function(){
          $('.sub-title-01').fadeIn(1000, function(){	
          	$('.sub-title-02').fadeIn(1000)
          });  
        });
        var images = $('.featured').data('featured')
        console.log(images)
    });

	var headerMessage = {
		'morning': 'awake earlier than you',
		'afternoon': 'on our third coffee'
	}
	function headerHeight(){
		var height = $(window).height() - 127 
		var padding = (height - 54)/2
		$('.header__title').css('padding', padding + 'px 0');
	};

	function fadeBackground(background, image){
		var active = $('.our-work .active')
		var off = $('.our-work .off')
		if(image == true){
			off.css({'background': 'url(' + background + ')', 'background-size': 'cover'});
		}else if(image == false){
			off.css('background', background);
		}
		active.fadeOut(400, function(){
			active.addClass('off').removeClass('active')
			off.addClass('active').removeClass('off')
		});
		off.fadeIn(400)
	}


	$(window).resize(function(){
	  headerHeight();
	});
	$(function(){
		$(window).trigger('resize');

		$('.featured').on('mouseenter focus', function(){
			var background = $(this).data('featured')
			fadeBackground(background, true);
		});
		$('.our-work').on('mouseleave blur', function(){
			fadeBackground('#242424', false)
		});
	});

    $('#logo').on('click', function(e){
        e.preventDefault();
        $("body").animate({
          scrollTop: $("#whatWeDo").offset().top
        }, 1000);
        
    });
    $('#contact').on('click', function(e){
        e.preventDefault();
        $("body").animate({
          scrollTop: $("#contactUs").offset().top
        }, 1000);
        
    });
</script>

