

<div id="home" class="hidden">
	<header class="home__header">
		<div class="container header__title">
			<h2>Up at Five</h2>
			<h3 class="hidden sub-title">we are <span>awake earlier than you</span></h3>
		</div>
	</header>

	<div id="whatWeDo" class="home__what-we-do home__content-block">
		<div class="container">
			<h3>What We Do</h3>
			<div class="row">
				<div class="col-half home__web">
					<p class= "attn">We build web based sites and applications</p>
				</div>
				<div class="col-half home__app">
					<p class="contain">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat molestias distinctio illum consectetur vero dignissimos id itaque, repudiandae repellendus dolore quo, labore minima facere cupiditate.</p>
				</div>
			</div>	
		</div>
	</div>
	
<% if @portfolio_pieces.present? %>
	<div class="our-work">
	<div class="hover active"></div>
	<div class="hover off"></div>
	<%= link_to 'Featured Work', portfolio_pieces_path, class: 'container title' %>
	<% @portfolio_pieces.each do |portfolio_piece| %>
            <%= link_to portfolio_piece_path(portfolio_piece), :data => {:featured => portfolio_piece.feature_image.url }, class: 'container featured' do %> 
                <h4><%= portfolio_piece.title %></h4>
                <% end %>
	<% end %>
	</div>
<% end %>




	
	<div class="home__contact home__content-block" id="contact">
		<div class="container">
			<h3>Get In Touch</h3>
			<div class="row">
				<div class="col-half">
					<p class="attn">We would love to work together</p>
				</div>
				<div class="col-half">
					<p class="contain">Let us know about what your project is and then we will chat about it and figure out some more stuff. Then we can start working on it and it will be swell.</p>
					<button id="contactUs" name="contactUs" class="button">Contact Us</button>
				</div>
			</div>
		</div>
	</div>
</div>	


<script>
    $(document).on('ready page:load',function(){
        $('#home').fadeIn(1000, function(){
          $('.sub-title').fadeIn(2000);  
        });
    });

	var headerMessage = {
		'morning': 'awake earlier than you',
		'afternoon': 'on our third coffee'
	}
	function headerHeight(){
		var height = $(window).height() - 127 
		var padding = (height - 54)/2
		$('.header__title').css('padding', padding + 'px 0');
	};

	function fadeBackground(background, image){
		var active = $('.our-work .active')
		var off = $('.our-work .off')
		if(image == true){
			off.css({'background': 'url(' + background + ')', 'background-size': 'cover'});
		}else if(image == false){
			off.css('background', background);
		}
		active.fadeOut(400, function(){
			active.addClass('off').removeClass('active')
			off.addClass('active').removeClass('off')
		});
		off.fadeIn(400)
	}


	$(window).resize(function(){
	  headerHeight();
	});
	$(function(){
		$(window).trigger('resize');

		$('.featured').on('mouseenter focus', function(){
			var background = $(this).data('featured')
			fadeBackground(background, true);
		});
		$('.our-work').on('mouseleave blur', function(){
			fadeBackground('#242424', false)
		});
	});

    $('#logo').on('click', function(e){
        e.preventDefault();
        $("body").animate({
          scrollTop: $("#whatWeDo").offset().top
        }, 1000);
        
    });
    $('#contact').on('click', function(e){
        e.preventDefault();
        $("body").animate({
          scrollTop: $("#contactUs").offset().top
        }, 1000);
        
    });
</script>

