<p id="notice"><%= notice %></p>

<p>
  <strong>Portfolio piece:</strong>
  <%= @portfolio_image.portfolio_piece %>
</p>

<%= link_to 'Edit', edit_portfolio_image_path(@portfolio_image) %> |
<%= link_to 'Back', portfolio_images_path %>
