<h1>Editing Portfolio Piece</h1>

<%= render 'form' %>

<%= link_to 'Add Pic', new_portfolio_image_path(:portfolio_piece_id => @portfolio_piece.id) %>

<%= link_to 'Show', @portfolio_piece %> |
<%= link_to 'Back', portfolio_pieces_path %>
