@import variables/font
#home
	p 
		:font-size 14px
	h3
		:font-size 27px	
		:margin-bottom 0
	.attn
		:font-family $header-font
		:font-weight 500
		:font-size 20px
		:line-height 30px
		:letter-spacing 1.1px
		:color $dark-grey
		:width 60%
		// :text-transform uppercase
	.contain
		:padding-left 50px
		+display-for(sm xs)
			:padding 0
	.button
		+button-style
		:margin-left 50px
		+display-for(sm xs)
			:margin-left 0		
.home
	&__header
		:background $light-grey
		:color $black
		h2.header__title
			:font-size 36px
			:letter-spacing 1.5px
			:font-weight 500
			:margin 0
	&__content-block
		:padding 70px 0		
	&__content
		:padding 100px 0
		:background $sea-green-light
		h4
			:font-size 20px
		+display-for(sm xs)
			:padding 50px 0
		a 
			:text-decoration none
			:color white
.our-work
	:background $black
	:padding 70px 0 50px 0
	a
		:display block
		:margin 0 auto
		:font-size 27px
		:color white
		:font-weight 700
		:font-family $header-font
		:letter-spacing 1.2px
		:margin-bottom 20px
	h4
		:font-size 20px
		:font-family $body-font
		:font-weight 100
		:line-height 28px
		:display inline-block
		:margin 0
		:border-bottom 1px solid white


