@import layout/grid
@import layout/make-adaptive
@import layout/make-responsive
@import variables/colors
@import variables/font
@import mixins/button
$piece-height-xl: 400px
$piece-height-lg: 470px
$piece-height-md: 380px
$piece-height-sm: 320px
$piece-height-xs: 300px
.portfolio-header
	:padding 100px 0	
	h3
		:font-size 27px	
		:margin-bottom 0
	.attn
		:font-family $header-font
		:font-weight 500
		:font-size 20px
		:line-height 30px
		:letter-spacing 1.1px
		:color $dark-grey
		:width 60%	
					
.piece
	:position relative
	:background-position center
	+make-column(6)
	+display-for(xl)
		+make-column(4)
		:min-height $piece-height-xl
	+display-for(lg)
		:min-height $piece-height-lg
	+display-for(md)
		:min-height $piece-height-md
	+display-for(sm)
		:min-height $piece-height-sm	
	+display-for(xs)
		+make-column(12)
		:min-height $piece-height-xs
	.piece-link
		:position absolute
		:width 100%
		:height 100%	
	.overlay
		:display none
		:background $light-grey
		:position absolute
		:width 100%
		:height 100%
		:top 0
		:left 0
		:text-align center
		:pointer-events none
		:color $black
		+display-for(xl)
			:padding-top 150px
		+display-for(lg)
			:padding-top 180px
		+display-for(md)
			:padding-top 150px
		+display-for(sm)
			:padding-top 120px
		+display-for(xs)
			:padding-top 110px
		h4 
			:font-size 16px
			:font-weight 300
			:text-transform uppercase
			:margin 0
			&:after
				:content ''
				:background $green
				:max-width 40px
				:margin 16px auto
				:height 2px
				:display block
		a 
			:font-family $body-font
			:color $black
			:font-size 12px		


		.button 
			+button-style
			:display inline-block


			
