// colors

$color-1: #6A7564; // Martinique
$color-2: #B9BEB3; // Mulled Wine
$color-3: #7C8975; // Iron
$color-4: #2E332C; // Emerald
$color-5: #1c1726; // Bastille
$color-6: #ffffff; // White

// fonts 

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Vollkorn', serif;

// animation duration

$fold-animation: .5s;
$fold-content-animation: .2s*(3+1)/2; // replace 3 with number of elements that you want to animate