<div class="home__contact home__content-block" id="contact">
	<div class="container">
		<h3>Get In Touch</h3>
		<div class="row">
			<div class="col-half">
				<p class="attn">We would love to work together</p>
			</div>
			<div class="col-half">
				<p class="contain">Let us know about what your project is and then we will chat about it and figure out some more stuff. Then we can start working on it and it will be swell.</p>
				<button id="contactUs" name="contactUs" class="button">Contact Us</button>
			</div>
		</div>
	</div>
</div>
<script>
	$('#contact').on('click', function(e){
	    e.preventDefault();
	    $("body").animate({
	      scrollTop: $("#contactUs").offset().top
	    }, 1000);
	    
	});
</script>